<div ng-cloak layout-gt-sm="row" layout="column">
  <md-contentlayout-gt-sm="row" layout-padding flex>
    <!--Sidebar content-->
    <div>
      <md-input-container>
        <label>Search</label>
        <input type="text" ng-model="$ctrl.query" />
      </md-input-container>
    </div>
    <div>
      <md-input-container class="md-padding">
        <label>Sort By:</label>
        <md-select ng-model="$ctrl.orderProp">
          <md-option ng-repeat="option in $ctrl.options" value="{{option.type}}">
            {{option.type}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  <md-content>

      <!--Body content-->

      <md-list flex class="hover-change">
        <md-list-item class="md-3-line no-hover" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" href="#/phones/{{phone.id}}">
          <a href="#/phones/{{phone.id}}" class="md-padding">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" class="avatar"/>
          </a>
          <div class="md-list-item-text" layout="column">
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
          </div>
        </md-list-item>
      </md-list>

    </md-content>
  </div>
</div>
