<div ng-cloak layout-gt-sm="row" layout="column">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding flex>
    <!--Sidebar content-->
    <div>
      <md-input-container>
        <label>Search</label>
        <input type="text" ng-model="$ctrl.query" />
      </md-input-container>
    </div>
  <md-content>

      <!--Body content-->

      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
          </div>
        </md-list-item>
      </md-list>

    </md-content>
  </div>
</div>
